<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="progress_bars_carrying_fee" data-view="ProgressBars" data-title="运费统计"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="progress_bars_goods_num" data-view="ProgressBars" data-title="货物数量统计"></div>
    </li>
  </ul>
</div>
