<% content_for :title do %>日营业额统计图<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id="progress_bars" data-view="ProgressBars" data-title="Project Bars"></div>
    </li>
  </ul>
</div>
