<% content_for :title do %>业务看板<% end %>
<h3 id="from_org_id" ><%= params[:from_org_id] %></h3>
<h3 id="children_org_ids" ><%= params[:children_org_ids]%></h3>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bill_count"  style="background-color:#ff9618" data-field="bill_count" data-view="CustomNumber" data-title="当日票据" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="carrying_fee" data-field="carrying_fee" data-view="CustomNumber" data-title="运费" data-moreinfo="" data-prefix="￥"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="goods_fee" data-field="goods_fee" data-view="CustomNumber" data-title="代收货款" data-moreinfo="" data-prefix="￥"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goods_num" data-field="goods_num" data-view="CustomNumber" data-title="货物件数" data-moreinfo="" data-prefix="" data-suffix="件"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="insured_fee" data-field="insured_fee" data-view="CustomNumber" data-title="保险费" data-moreinfo="" data-prefix="￥" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="from_short_carrying_fee" data-field="from_short_carrying_fee" data-view="CustomNumber" data-title="发货短途" data-moreinfo="" data-prefix="￥" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="to_short_carrying_fee" data-field="to_short_carrying_fee" data-view="CustomNumber" data-title="到货短途" data-moreinfo="" data-prefix="￥" data-suffix=""></div>
    </li>
  </ul>
</div>
